C-Sharp/.vs/
C-Sharp/C-Sharp/bin/
C-Sharp/C-Sharp/obj/
C-Sharp/IntroMethods/SampleMethod/.vs/
C-Sharp/IntroMethods/SampleMethod/SampleMethod/bin/
C-Sharp/IntroMethods/SampleMethod/SampleMethod/obj/
Operators/Operators/bin/
Operators/Operators/obj/
Operators/.vs/
Decision Making and Repeat Operation/Decision Making & Repeat Operation/.vs/
Decision Making and Repeat Operation/Decision Making & Repeat Operation/Decision Making & Repeat Operation/bin/
Decision Making and Repeat Operation/Decision Making & Repeat Operation/Decision Making & Repeat Operation/obj/
OOP Basics/OPPBasics/OPPBasics/bin/
OOP Basics/OPPBasics/.vs/
OOP Basics/OPPBasics/OPPBasics/obj/
Access Modify/AccessModify/.vs/
Access Modify/AccessModify/AccessModify/obj/
Access Modify/NewAcessaaModify/.vs/
Access Modify/NewAcessaaModify/NewAcessaaModify/bin/
Access Modify/NewAcessaaModify/NewAcessaaModify/obj/
*.bin
Basic Collection/Basic Collection/obj/
Basic Collection/.vs/
Basic Collection/
Advance OOP part 1/.vs/
Advance OOP part 1/Advance OOP part 1/obj/
Advance OOP part 1/Advance OOP part 1/bin/
Advanced OOP Part 2/Advanced OOP Part 2/bin/
Advanced OOP Part 2/Advanced OOP Part 2/obj/Debug/net7.0/Advanced OOP Part 2.dll
Advanced OOP Part 2/.vs/
Advanced OOP Part 2/Advanced OOP Part 2/obj/
Advanced OOP part 3/Advanced OOP part 3/obj/
Advanced OOP part 3/.vs/
Advanced OOP part 3/Advanced OOP part 3/bin/
Advance OOP Part 4/.vs/
Advance OOP Part 4/Advance OOP Part 4/bin/
Advance OOP Part 4/Advance OOP Part 4/obj/
Advance  OOP Part 4/
Advance_OOP_Part_4/Advance_OOP_Part_4/bin/
Advance_OOP_Part_4/Advance_OOP_Part_4/obj/
Advance_OOP_Part_4/.vs/
Advance_OOP_Part_4/WPF/WPF/obj/
WpfApp/MyTodo/MyTodo/obj/
WpfApp/WpfApp/obj/
WpfApp/WpfApp/bin/
WpfApp/ListDemo/.vs/
WpfApp/ListDemo/ListDemo/obj/
WpfApp/ListDemo/ListDemo/bin/
WpfApp/MyTodo/.vs/
SQL and LINQ Basic Part-1/LINQA/.vs/
SQL and LINQ Basic Part-1/LINQA/obj/
SQL and LINQ Basic Part-1/LINQWpf/.vs/
SQL and LINQ Basic Part-1/LINQWpf/obj/
WpfApp/database/.vs/
WpfApp/database/database/obj/
SQL and LINQ Basic Part-1/LINQA/bin/
LINQ Basic Part -2/LINQ Basic Part -2/obj/
LINQ Basic Part -2/LINQ Basic Part -2/.vs/
SOLID PRINCIPLE/Solid Principle/obj/
Solid Principle/.vs/
Solid Principle/bin/
Solid Principle/obj/
Solid Principle/
Design Pattern 1/obj/
Design Pattern 1/bin/
Design Pattern 1/.vs/
Design Pattern 2/.vs/
Design Pattern 2/bin/
Design Pattern 2/obj/
Design Pattern Part 3/.vs/
Design Pattern Part 3/bin/
Design Pattern Part 3/obj/
Design pattern 4/obj/
Design pattern 4/.vs/
Design pattern 4/bin/
DESIGN Pattern 5/.vs/
DESIGN Pattern 5/obj/
